@charset "utf-8";

/* 変数の登録 */
:root{
--main_color:#196486;
--color_1:#178add;
--color_2:#dd8417;
--color_3:#17ddbc;
--color_4:#dd175c;
--text_color:#333333;
--g_color:linear-gradient(90deg, #13547a 0%, #80d0c7 100%);
--font_ja:"Zen Kaku Gothic Antique", sans-serif;
}


html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;vertical-align: bottom;}

html{
scroll-behavior: smooth;
}
/* 文字グラデーション用スタイル */
.gradation{
background-image: var(--g_color);
width: fit-content;
background-clip: text;
color: #00000000;
}

/* ボタンスタイル */
.btn{
background-image: var(--g_color);
color: #fff;
text-align: center;
display: block;
border-radius: 100px;
&:hover{
box-shadow: 0 0 10px #999;
transition: 0.2s;
}
}

/* header部分 */
header{
display: none;
}
/* pcナビゲーション */
.pc-nav{
width: 90%;
height: 50px;
background-color: var(--main_color);
position: fixed;
z-index: calc(infinity);
left: 0;
right: 0;
top: 50px;
margin: auto;
border-radius: 8px;
box-shadow: 0 0 8px #989898;
>ul{
display: flex;
>li{
width: 20%;
>a{
position: relative;
display: block;
line-height: 50px;
color: #FFF;
text-align: center;

&:hover{
text-decoration: underline 2px;
text-underline-offset: 3px;
}
}
}
}
}

li:nth-of-type(-n+4)>a::after{
display: block;
content: "";
width: 1px;
height: 60%;
background-color: #FFF;
position: absolute;
right: 0;
top: 0;
bottom: 0;
margin: auto;
}

/* ドロップメニュー */
.menu-outer{
display: none;
width: 100%;
position: absolute;
left: 0;
top: 50px;
opacity: 1;
@strting-style{
opacity: 0;
}
>.menu-inner{
margin-top: 20px;
background-color: #f8f3dc;
border-radius: 8px;
display: flex;
gap: 0 20px;
>.menu-box{
width: 18%;
padding: 20px;
>a{
&:hover>span{
text-decoration: underline 2px;
text-underline-offset: 3px;
}
>span{
display: block;
padding: 5px;
color: var(--text_color);
}
}
}
}
}

.pc-nav li:hover>.menu-outer{
display: block;
transition: 1s;
}


/* fv部分 */
.main-visual{
width: 100%;
height: 100vh;
>img{
object-fit: cover;
width: 100%;
height: 100vh;
}
}

/* 共通部分 */
.page-section{
min-height: 100vh;
padding: 100px 10px;
>h3{
font-family: var(--font_ja);
font-size: 28px;
margin:0 auto 60px;
text-align: center;
}
}

/* メインコピー部分 */
.main-copy{
padding: 120px 10px;
>h2{
font-family: var(--font_ja);
text-align: center;
font-size: 48px;
margin: 0 auto 60px;
line-height: 2;
}

.lead{
font-size: 18px;
max-width: 680px;
margin: 0 auto 100px;
line-height: 1.75;
color: #13547a;
}
}

/* お知らせ部分 */
.news-wrapper{
display: flex;
justify-content: space-evenly;
>.news-box{
width: calc(80% / 3);
border-bottom: 4px solid #999;
padding-bottom: 5px;
position: relative;
overflow: hidden;
>a{ 
display: grid;
grid-template-rows: subgrid;
grid-row: span 3;
row-gap: 14px;
color: var(--text_color);
>.cate{
display: flex;
justify-content: space-between;
>.cate-name{
padding: 4px 6px;
font-weight: bold;
}
}
&:hover .cate-name{
background-image: var(--g_color);
color: #FFF;
width: fit-content;
transition: 0.2s;
}
}
&::after{
display: block;
content: "";
width: 100%;
height: 4px;
background-image: var(--g_color);
position: absolute;
z-index: 10;
bottom: -2px;
left: -100%;
transition: 0.5s;
}
&:hover::after{
translate: 100% 0;
}
}
}


/* サービス部分 */
.service-box{
h4{
color: var(--color_1);
font-size: 26px;
font-family: var(--font_ja);
text-align: center;
margin-bottom: 20px;
}
&:nth-of-type(2) h4{
color: var(--color_2);
}
&:nth-of-type(3) h4{
color: var(--color_3);
}
&:nth-of-type(4) h4{
color: var(--color_4);
}
}

.service-wrapper{
width: 80%;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
gap: 20px;
>.service-box{
border-radius: 30px 0 0 0;
width: calc((100% - 40px) / 2);
padding: 20px;
border: 4px solid var(--color_1);
&:nth-of-type(2){
border-radius: 0 30px 0 0;
border: 4px solid var(--color_2);
}
&:nth-of-type(3){
border-radius: 0 0 0 30px;
border: 4px solid var(--color_3);
}
&:nth-of-type(4){
border-radius: 0 0 30px 0;
border: 4px solid var(--color_4);
}
>.service-illust{
width: 50%;
aspect-ratio: 1.4/1;
margin: 0 auto 20px;
>img{
object-fit: cover;
width: 100%;
height: 100%;
}
}
}
}  

/* ピックアップ部分 */
.pick-up-wrapper{
width: 70%;
aspect-ratio: 1/0.8;
margin: 0 auto;
display: grid;
grid-template-columns: 60% 40%;
grid-template-rows: 50% 50%;
gap: 50px;
}

.pick-up-box{
border: 1px solid var(--text_color);
padding: 20px;
>.eye-catch{
aspect-ratio: 4/2.7;
>img{
object-fit: cover;
width: 100%;
height: 100%;
}
}
>h4{
font-size: 24px;
text-align: center;
margin: 10px 0;
}
>.pick-up-cate{
display: flex;
justify-content: space-between;
}
}

.pick-up-box[data-rank="1"]{
grid-row: 1 / 3;
grid-column: 1 / 2;
>.eye-catch{
aspect-ratio: 1/1.3;
>img{
object-fit: cover;
width: 100%;
height: 100%;
}
}
>h4{
font-size: 24px;
text-align: center;
margin: 30px 0;
}
}

.pick-up-box[data-rank="2"]{
grid-row: 1 / 2;
grid-column: 2 / 3;
}
.pick-up-box[data-rank="3"]{
grid-row: 2 / 3;
grid-column: 2 / 3;
}

.btn.to-works{
width: 240px;
padding: 12px 0;
margin: 80px auto;
}



/* お客様の声部分 */
.voice-wrapper{
width: 80%;
margin: 0 auto;
display: flex;
justify-content: space-between;
}

.voice-box{
width: 31%;
border: 1px solid var(--text_color);
border-radius: 8px;
display: grid;
grid-template-columns: repeat(2,50%);
grid-template-rows: repeat(5);
aspect-ratio: 1/1.3;
padding: 20px;
gap: 10px;
>.avator{
grid-column: 1/2;
grid-row: 1/3;
}
>.voice-name{
padding: 10px;
font-size: 22px;
>span{
display: block;
font-size: 16px;
}
}

>.voice-date{
text-align: right;
}
>h4{
grid-column: 1/3;
grid-row: 3/4;
text-align: center;
font-size: 29px;
}
>.voice-text{
grid-column: 1/3;
grid-row: 4/6;
overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 6;
padding-bottom: 4em;
}
}

/* footer-visual */
.footer-visual{
width: 100%;
height: 100vh;
position: relative;
>img{
object-fit: cover;
width: 100%;
height: 100%;
}
&::before{
display: block;
content: "";
width: 100%;
aspect-ratio: 8/1;
background-color: #fff;
clip-path: polygon(0 0,100% 0,0 100%);
position: absolute;
top: -1px;
left: 0;
}
&::after{
display: block;
content: "";
width: 50%;
aspect-ratio: 8/1;
background-color: #ffffff;
clip-path: polygon(0 0,100% 0,0 100%);
rotate: 180deg;
position: absolute;
right: 0;
bottom: -1px;
}
}

footer{
margin-top: 40px;
width: 100%;
height: 100px;
background-color: var(--color_1);
}

/* 区切り線 */
.custom-shape-divider-bottom-1729241213 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1729241213 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 72px;
}
.custom-shape-divider-bottom-1729241213 .shape-fill {
    fill: #FFFFFF;
}

/* 下層ページの共通 */
.page-visual{
max-width: 960px;
margin: 130px auto 0;
}

/* worksページ */
.works-wrapper{
width: 90%;
margin: 0 auto;
}
.works-wrapper>input{
display: none;
}
.works-wrapper>label{
display: inline-block;
text-align: center;
padding: 14px 30px ;
border: 2px solid var(--text_color);
margin: 0 10px;
cursor: pointer;
transition: 0.5s;
&:hover{
background-color: #f8f8f8;
}
}
.works-wrapper>input:checked+label{
background-color: var(--text_color);
color: #fff;
}

.works-box-wrapper{
margin-top: 60px;
display: grid;
grid-template-columns: repeat(2,auto);
gap: 60px;
>.works-box{
border: 2px solid var(--color_1);
padding: 20px;
>.works-photo{
aspect-ratio: 1/1;
margin-bottom: 20px;
>img{
object-fit: cover;
width: 100%;
height: 100%;
}
}
h4{
font-size: 22px;
}
.works-cate-wrapper{
display: flex;
justify-content: space-between;
}
}
}

.works-box[data-category="in"]{
border: 2px solid var(--color_2);
}
.works-box[data-category="bim"]{
border: 2px solid var(--color_3);
}
.works-box[data-category="vr"]{
border: 2px solid var(--color_4);
}

/* フィルタリング */
#exteria:checked~.works-box-wrapper>.works-box:not([data-category="ex"]){
display: none;
}
#interia:checked~.works-box-wrapper>.works-box:not([data-category="in"]){
display: none;
}
#bim:checked~.works-box-wrapper>.works-box:not([data-category="bim"]){
display: none;

}
#vr:checked~.works-box-wrapper>.works-box:not([data-category="vr"]){
display: none;
}
#all:checked~.works-box-wrapper>.works-box([data-category="all"]){
display: block;
}

/* 資料請求ページ */
.h-adr{
max-width: 680px;
margin: 0 auto;
}
dl.input{
display: flex;
flex-wrap: wrap;
>dt{
width: 30%;
margin-bottom: 30px;
font-weight: bold;
text-align: right;
padding-right: 30px;
}
>dd{
width: 70%;
margin-bottom: 30px;
}
}

[type="text"],[type="email"]{
width: 60%;
border: 1px solid var(--text_color);
padding: 4px;
border-radius: 4px;
background-color: #f7f7f786;
}
textarea{
width: 80%;
height: 160px;
border: 1px solid var(--text_color);
padding: 4px;
border-radius: 4px;
background-color: #f7f7f786;
}

.policy-wrapper{
padding: 20px;
.policy-inner{
border: 1px solid var(--text_color);
padding: 30px;
height: 350px;
overflow: scroll;
margin-bottom: 20px;
>h4{
text-align: center;
font-size: 22px;
margin-bottom: 30px;
>p{
font-size: 18px;
line-height: 2;
margin-bottom: 100px;
}
}
}
}

[type="checkbox"]{
scale: 1.3;
margin-right: 10px;
}
[for="policy"]{
font-size: 17px;
background-color: #fcb3df50;
padding: 5px;
&:hover{
text-decoration: underline;
}
}

[type="submit"]{
border: 1px solid var(--text_color);
padding: 8px 50px;
border-radius: 4px;
background-color: #99999938;
margin: auto;
display: block;
&:hover{
background-color: #f7f7f786;
}
}

/* 電話のリンク */
.to-phone{
max-width: 680px;
padding: 20px;
margin: 50px auto;
border: 1px solid var(--text_color);
border-radius: 12px;
text-align: center;
font-size: 18px;
>p{
margin-bottom: 10px;
}
>a{
background: url(../img/phone.svg) no-repeat 0 50%/20px; 
padding: 10px 40px;
font-size: 20px;
color: var(--text_color);
pointer-events: none;
}
}